name: CI_CD

on: [push, pull_request]

permissions: {}
jobs:
  Unit_tests:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        ruby-version: [
          '2.6', '2.7', '3.0', '3.1',
          jruby,
        ]
        os: [ubuntu-latest, macOS-latest, windows-latest]
        experimental: [false]
        include:
          # TruffleRuby on Windows may fail
          - ruby-version: truffleruby
            os: windows-latest
            experimental: true
          - ruby-version: truffleruby
            os: macOS-latest
            experimental: false
          - ruby-version: truffleruby
            os: ubuntu-latest
            experimental: false
    steps:
    - uses: actions/checkout@v3

    - name: Set up ruby ${{ matrix.ruby-version }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true

    - name: Install dependencies
      run: bundle install

    - name: Run specs
      run: bundle exec rake

  Integration_tests:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    needs: Unit_tests
    strategy:
      fail-fast: false
      matrix:
        ruby-version: [
          "2.7", "3.1"
        ]
        os: [ubuntu-latest, macOS-latest, windows-latest]
    steps:
    - uses: actions/checkout@v3
    - name: Set up ruby ${{ matrix.ruby-version }}
      uses: actions/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Install dependencies
      run: |
        bundle install
    - name: Run tests
      env:
        TINIFY_KEY: ${{ secrets.TINIFY_KEY }}
      run: |
        bundle exec rake integration
        #
        #   Publish:
        #     if: |
        #        github.repository == 'tinify/tinify-ruby' &&
        #        startsWith(github.ref, 'refs/tags') &&
        #        github.event_name == 'push'
        #     timeout-minutes: 10
        #     needs: [Unit_tests, Integration_tests]
        #     runs-on: ubuntu-latest
        #     steps:
        #     - uses: actions/checkout@v3
        #       with:
        #         fetch-depth: 0
        #         persist-credentials: false
        #     - name: Set up ruby
        #       uses: actions/setup-ruby@v4
        #       with:
        #         ruby-version: "3.10"
        #     - name: Install dependencies
        #       run: |
        #         pip install -r requirements.txt
        #         pip install build wheel
        #     - name: Build package (sdist & wheel)
        #       run: |
        #         ruby -m build --sdist --wheel --outdir dist/
        #     - name: Test sdist install
        #       run: |
        #         ruby -m venv sdist_env
        #         ./sdist_env/bin/pip install dist/tinify*.tar.gz
        #     - name: Test wheel install
        #       run: |
        #         ruby -m venv wheel_env
        #         ./wheel_env/bin/pip install dist/tinify*.whl
        #     - name: Publish package to PyPI
        #       uses: pypa/gh-action-pypi-publish@master
        #       with:
        #         user: __token__
        #         password: ${{ secrets.PYPI_ACCESS_TOKEN }}
        #         # Use the test repository for testing the publish feature
        #         # repository_url: https://test.pypi.org/legacy/
        #         packages_dir: dist/
        #         print_hash: true
        #
